# Application
PROJECT_NAME='Code To CV'
PROJECT_VERSION='0.0.1'
PROJECT_DEBUG=True
PROJECT_HOST=localhost
PROJECT_PORT=8000

JWT_SECRET_KEY=YOUR_SECRET
JWT_ALGORITHM=YOUR_ALGORITHM

DEFAULT_SUPERUSER_USERNAME=admin
DEFAULT_SUPERUSER_PASSWORD=Admin123!
SQLADMIN_SECRET_KEY=SQLADMIN_SECRET

# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=code_to_cv_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

GITHUB_PA_TOKEN=YOUR_GITHUB_PA_TOKEN
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
